<% provide(:name, @user.name) %>
<% provide(:title, "Home") %>

			
			<!--Sheet tabs -->
			
<div class="row" >
	<div class="col-lg-2">
	</div>
	<div class="col-lg-8 tabLinks">
		<div class="col-md-4 tabSpace active">
			<div class = "sheetTabs"><a href="#home">Home</a></div>
		</div>
		<div class="col-md-4 tabSpace">
			<div class = "sheetTabs"><a href="#settings">Settings</a></div>
		</div>
		
		<div class="col-md-4 tabSpace">
			<div class = "sheetTabs"><a href="#logout">Log out</a></div>
		</div>
	</div>
	<div class="col-lg-2">
	</div>
</div>
				 
			<!-- Main content panel. Contains all content for the sheet tabs-->		

<div class="row" id = "jumboT">
	
	<div class="col-lg-2">
	</div>
	
	<div class="col-lg-8 mainPanel">	
		<div class = "mainContent" id = "home">
			<div class = "row">
				<div class = "col-md-3 homeDivs" id = "upcoming">
					
					<div id="upcomingPane">
						<h3>Upcoming Events:</h3>
						<%= render 'events/event_thumbs' %>
					</div>
			
					<div id= "bookingPane">
						<%= render 'orders/form' %>
					</div>
				</div>		

				<div class = "col-md-9 homeDivs" id = "selectedEvent">
					
					<h3>Event Details:</h3>

					<div class = "eventDetail" id = "event0">
						<h4>Please select an event</h4>
					</div>
			
					<%= render 'events/event_detail' %>
				
				</div>	
				
			</div>
		</div>
					
						
		<div class = "mainContent" id = "orderComplete">
			<p id = "completeMessage">Your order has been placed!</p>
			<p id = "errorMessage">There has been an error!</p>
			<div id ="goHome"><p><b>Return to Home</b></p></div>
		</div>
				

		<div class = "mainContent" id = "settings">
			<div class = "col-md-11 homeDivs">
				<div class="gravatar_edit">
			<%= gravatar_for @user %>
			<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
					<br> <br>
			<a href="http://gravatar.com/emails">change</a>
			</div>
			</div>
		</div>

		<div class = "mainContent" id = "logout">
			<div class = "col-md-11 homeDivs">
				<p>Are you sure you would like to log out?</p>								
				<div class = "logButtons" id = "logoutButton"><%= link_to "Log out", logout_path, method: "delete" %></div>								
			</div>
		</div>		
	</div>
				
				
	<div class="col-lg-2">
		<div id = "userInfo">
			<p><%= current_user.name %></p>
			<%= gravatar_for @user %>
		</div>
					

		<div id = "showHist">
			<br>
			<div id = "histButton">						
				<div>
					<input type="checkbox" id="toggleHist" name="toggleHist" class="switch" />
					<label for="toggleHist">Show event history?</label>
				</div>
			</div>
		</div>
					
					
		<div id = "userHist">
			<% if @user.events.any? %>
				<ol>
					<%= render @events %>
				</ol>
			<% else %>
				<p id="noHistory">You have no events</p>
			<% end %>			
		</div>	
	</div>				
</div>
		