
<div class = "col-md-9 homeDivs" id = "selectedEvent">
  <h3>Event Details:</h3>
  
 	<div class = "eventDetail" id = "event0">
		<h4>Please select an event</h4>
	</div>
	
  <% if ! @events.nil? %>
    <% @events.each do |event| %>
      
      <div class = "eventDetail" id = "event<%= event.id %>">
        
        <h4><%= event.title %></h4>
        <br>
        <table>
        	<tr>
        		<td> Title </td>
        		<td> <%= event.title %> </td>
        	</tr>
        	<tr>
        		<td> Venue </td>
        		<td> <%= event.venue %> </td>
        	</tr>
        	<tr>
        		<td> Date </td>
        		<td> <%= event.when_at %> </td>
        	</tr>
        	<tr>
        		<td> Total Tickets </td>
        		<td> <%= event.total_tickets %> </td>
        	</tr>
        	<tr>
        		<td> Availabe Tickets </td>
        		<td> <%= event.available_tickets %> </td>
        	</tr>
        </table>
        
        <!-- "Book it" button. Displays the booking pane for the 
    		currently selected event. -->
    		<div class = "bookItBtn" onclick="setEventFunction(<%= event.id %>)" >									
    			<a>Book it!</a>
    		</div>
    		
      </div>
    
    <% end %>
  <% end %>

</div>