<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :event_thumb %>
      <%= f.text_field :event_thumb, class: 'form-control' %>

      <%= f.label :venue %>
      <%= f.text_field :venue, class: 'form-control' %>
      
      <%= f.label :when_at %>
      <%= f.datetime_select(:when_at, :prompt => {:month => 'Select month', 
                            :day => 'Select day',
                            :hour => 'Select hour',
                            :minute => 'Select minute'},
                            :start_year => Time.now.year,
                            :order =>[:month, :day, :year, :hour, :minute],
                            :minute_step => 15)  %>
      
      <%= f.label :total_tickets %>
      <%= f.text_field :total_tickets, class: 'form-control' %>
      
      <%= f.label :available_tickets %>
      <%= f.text_field :available_tickets, class: 'form-control' %>
      

      <%= f.submit "Create my event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>